/* clear settings */
window, body, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2d5063;
    background-image: url("/static/images/body_bg.png");
    background-position: top left;
    background-repeat: repeat-x;
    font-family: "Georgia", "Helvetica", "Times", serif;
    font-size: 12px;
}

h1 {
    font-size: 72px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    line-height: 48px;
    color: #ffa320;
    text-shadow: 1px 2px 2px #1a2f3a;
}

.white {
    color: #FFFFFF;
}


.content {
    margin: 10px;
}

.header {
    
}
