<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/style.css" rel="stylesheet" media="screen" />
        <title>PyTexas</title>
    </head>


    <body>
        <div class="header">
            <h1><a href="/"><span class="white">py</span>Texas</a></h1>
            <p class="header-subtitle">Someday @Texas A&amp;M</p>

            <div class="user-box">
                {% if current_user %}
                <p class="name">Howdy, {{ current_user.name.split()[0] }}</p>
                <p><a href="/session/destroy">Sign Out</a></p>
                {% else %}
                <p class="name">Howdy, Stranger</p>
                <p><a href="/login">Register / Login</a></p>
                {% end %}
            </div>

            
        </div>

        <div class="content">

