<!DOCTYPE html>
<html>
    <head>
        <link href="/static/css/style.css" rel="stylesheet" media="screen" />
    </head>


    <body>
        <div class="header">
            <h1><span class="white">py</span>Texas</h1>
            <p class="header-subtitle">September 5 @Texas A&amp;M</p>

            <div class="user-box">
                {% if True %}
                <p class="name">Howdy, Username</p>
                <p><a href="/session/destroy">Sign Out</a></p>
                {% else %}
                <p>Register with:</p>
                <p>
                    <a href="/session/twitter">
                        <img src="/static/images/twitter_login.png" alt="Twitter"/>
                    </a>
                </p>
                <p>
                    <a href="/session/facebook">
                        <img src="/static/images/facebook_login.png" alt="Twitter"/>
                    </a>
                </p>
                {% end %}
            </div>

            
        </div>

        <div class="content">

