{% include header.html %}

<h3>Registration Form</h3>
<form action="/survey/{{ survey.key }}" method="POST">
    {{ xsrf_form_html() }}
    <ul class="form-list">
        {% for question in survey.questions %}
        {% if question.get('key') %}
            <li class="form-entry {{ question.get('formtype', '') }}">
                <label for="{{ question['key'] }}">{{ question.get('title', question['key']) }}</label>
                <div class="input">
                {% if question.get('formtype', 'text') == 'text' %}

                    <input type="text" name="{{ question['key'] }}" class="text" {% if response and response.answer(question['key']) %} value="{{ response.answer(question['key']) }}"{% end if %}/>

                {% elif question.get('formtype') == 'radio' and question.get('options') %}

                    <ul>
                        {% for option in question.get('options', []) %}
                        <li>
                            <input type="radio" name="{{ question['key'] }}" value="{{ option[0] }}" {% if response and response.answer(question['key']) == option[0] %}checked="checked"{% end if %}/>
                            <span class="radio-label">{{ option[1] }}</span>
                        </li>
                        {% end for %}
                    </ul>
        
                {% elif question.get('formtype') == 'checkbox' %}

                    <input type="checkbox" name="{{ question['key'] }}" class="checkbox" {% if response and response.answer(question['key']) == option[0] %}checked="checked"{% end if %}/>

                {% end if %}
                </div>
            </li>
        {% end if %}
        {% end for %}
    </ul>
    <input class="submit" type="submit" value="Save"/>

</form>



{% include footer.html %}
